/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-font-family: 'Arial';
	-fx-font-size: 13;
	
}

.label {
	
}

.button {
	-fx-font-size: 13;
	-fx-background-radius: 20;
	-fx-font-weight: lighter;
}

.styled-text-area {
    /* set the entire area's font size to the given size */
    -fx-font-size: 14;
    -fx-padding: 5 5 5 5;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.bold {
	-fx-font-weight: bold;
}

.italic {
	-fx-font-style: italic;
}

.underline {
	-fx-underline: true;
}

.strike {
	-fx-strikethrough: true;	
}

.align-left {
	-fx-text-alignment: left;
}

.align-center {
	-fx-text-alignment: center;
}

.align-right {
	-fx-text-alignment: right;
}

.justify {
	-fx-text-alignment: justify;
}

.h-transparent {
	-rtfx-background-color: transparent;
}

.h-lime{
	-rtfx-background-color: lime;
}

.h-cyan{
	-rtfx-background-color: cyan;
}

.h-orangered{
	-rtfx-background-color: orangered;
}

.h-yellow{
	-rtfx-background-color: yellow;
}

.h-orange{
	-rtfx-background-color: orange;
}

